.card{
    border-radius: 12px;
    min-height: 300px;
}

.card img {
    border-radius: 12px 12px 0 0;
    height: 200px;
    object-fit:cover;
    cursor: pointer;
}

.card-title {
    cursor: pointer;
}

.card-footer{
    background-color: white;
    border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: space-between;
}

.card-footer i{
    cursor: pointer;
}

.card-footer p{
    margin-bottom:0;
}

.dark-mode .card {
    border: 1px solid #3D3D3D;
    background-color: #292929;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28), 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
}

.dark-mode .card-footer {
    border: 1px solid #3D3D3D;
    background-color: #292929;
}